
.subtitle{
  /*テキストを中心に黒で配置*/
  text-align: center;
  color: #000000;
  font-size: large;
}

.title img { 
  position: relative;
  width: 100vw; 
}

.title .sub img {
  position: absolute;
  width: 25%;
  left:73%;
  top:0px;
  max-width: 25%;
}

.title p {
  position: absolute;
  display: inline-block;
  padding: 0 100px;
  font-size: 40px;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color:yellow;
}

.title p .box{
  white-space: nowrap;
  font-weight: bolder;
}

.title p:before, .title p:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 100px;
  height: 2px;
  border-top: solid 1px yellow;
  border-bottom: solid 1px yellow;
}

.title p:before {
  left:0;
}
.title p:after {
  right: 0;
}

.time {
  position:absolute;
  top: 0;/*画像の左上に配置*/
  left: 0;
  margin: 0; /*余計な隙間を除く*/
  font-size: 15px;
  padding: 5px 10px;/*文字周りの余白*/
}

* {
    margin: 0;
    padding: 0;
  }
  /* 大枠（気にしないでください） */
  body {
    width: 100%;
    background-color: #ffc7ee;
  }
  h2,
  #wrapper {
    width: center;
    margin: 0 auto;
  }
  
.accordion{
  text-align: center;
  }

/* アコーディオン ここから */
dl {
  width: 30%;
  /*ボタンの間の距離*/
  margin: 0 auto 10px auto;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
dl:first-child {
/*一番上のボタンとその上の文章の距離*/
  margin-top:10px;
}
dt {
  position:relative;
  display: block;
  padding: 20px 0 20px 20px;
  background-color: #333333;
}
dt:after {
  content: "＞";
  position: absolute;
  top: 35%;
  left: 85%;
  transform: rotate(90deg);
}
dt.close:after {
  content: "＜";
  position: absolute;
  top: 35%;
  left: 85%;
  transform: rotate(-270deg);
}
dd {
  display: none;
  padding: 20px 0 20px 40px;
  color: rgb(0, 0, 0);
}

  /* ここまで */
.twitter {
    float: right;
    width: 30%;
    height: 100px;
}
.Instagram {
  float: left;
  width: 30%;
  height: 100px;
}

