body{
    text-align: center;
    background-color:rgb(255, 208, 253)
}
/*リボン*/
.ribbon9 {
    /*高さ*/
    display: inline-block;
    position: relative;
    height: 45px;
    text-align: center;
    box-sizing: border-box;
  }
  .ribbon9:before {/*左側のリボン端*/
    content: '';
    position: absolute;
    width: 10px;
    bottom: -10px;
    left: -35px;
    z-index: -2;
    border: 20px solid #56adf3;
    border-left-color: transparent;/*山形に切り抜き*/
  }
    
  .ribbon9:after {/*右側のリボン端*/
    content: '';
    position: absolute;
    width: 10px;
    bottom: -10px;
    right: -35px;
    z-index: -2;
    border: 20px solid #56adf3;
    border-right-color: transparent;/*山形に切り抜き*/
  }
    
  .ribbon9 h3 {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 40px;
    line-height: 45px;
    font-size: 25px;
    color: #FFF;
    background: #2196F3;/*真ん中の背景色*/
  }
  .ribbon9 h3:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 10px transparent;
    border-right: solid 15px #397eb5;/*左の折り返し部分*/
  }
  .ribbon9 h3:after {
    position: absolute;
    content: '';
    top: 100%;
    right: 0;
    border: none;
    border-bottom: solid 10px transparent;
    border-left: solid 15px #397eb5;/*右の折り返し部分*/
  }
  /*リボンここまで*/
