body{
    text-align: center;
    background-color:rgb(255, 208, 253)
}
.content{
    font-size:large;
    color:rgb(0, 0, 0)
}
.title{
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    color:rgb(0, 102, 17)
}
.top-banner {
    display: flex;
    flex-wrap: wrap;
}
.top-banner li {
<<<<<<< HEAD
    width: clac(100%/4);
=======
    width: 30%;
>>>>>>> c5ba43bbfaa93c0ff5a8aba3fe5492fb66b06217
    padding: 10px;
    box-sizing: border-box;
}
.top-banner li img {
    max-width: 50%;
    height: auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> c5ba43bbfaa93c0ff5a8aba3fe5492fb66b06217
