.title {
    text-align: center;
    color: #000000;
    font-size: 80px;
}

body {
    width: 100%;
    background-color: #ffc7ee;
  }

* {
    margin: 0;
    padding: 0;
  }
h2,
#wrapper {
  width: center;
  margin: 0 auto;
}

.accordion{
text-align: center;
}

/* アコーディオン ここから */
dl {
width: 30%;
/*ボタンの間の距離*/
margin: 0 auto 10px auto;
color: rgb(255, 255, 255);
font-size: 20px;
}
dl:first-child {
/*一番上のボタンとその上の文章の距離*/
margin-top:10px;
}
dt {
position:relative;
display: block;
padding: 20px 0 20px 20px;
background-color: #333333;
}
dt:after {
content: "＞";
position: absolute;
top: 35%;
left: 85%;
transform: rotate(90deg);
}
dt.close:after {
content: "＜";
position: absolute;
top: 35%;
left: 85%;
transform: rotate(-270deg);
}
dd {
display: none;
padding: 20px 0 20px 40px;
color: rgb(0, 0, 0);
}

/* ここまで */

